@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

$headerSize: 5rem;
$box-shadow2: 0px 3px 3px rgba(0, 0, 0, 0.1);
$typeOverlay: #00000010;

@import '../components/Pokemon/PokemonType.scss';
@import '../components/Header/Header.scss';
@import '../components/Spinner/Spinner.scss';
@import '../components//Pokemon/PokemonList.scss';
@import '../components//Pokemon/PokemonItem.scss';

:root {
  --primary: #ff0930;
  --primaryDark: #b20621;
  --lightGray: #fbfbfb;
  --textWhiteEmphais: rgba(255, 255, 255, 0.87);
  --textColorEmphasis: rgba(0, 0, 0, 0.87);
  --textColor: rgba(0, 0, 0, 0.67);
  --fontFamily: 'Ubuntu', Arial, sans-serif;
  --box-shadow1: 0px 3px 3px rgba(0, 0, 0, 0.1);
  --spinner: rgba(0, 0, 0, 0.77);
}

.app {
  height: 100vh;
  width: 100vw;
}

.AppBody {
  // height: 100vh;
  // width: 100vw;
  padding: calc(#{$headerSize} + 1rem) 1rem 1rem 1rem;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

body {
  background: var(--lightGray);
  font-family: var(--fontFamily);
}

button,
input {
  font-family: var(--fontFamily);
}

.app-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - #{$headerSize} - 2rem);
  width: 100%;
}
