@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  --primary: #ff0930;
  --primaryDark: #b20621;
  --lightGray: #fbfbfb;
  --fontFamily: 'Ubuntu', Arial, sans-serif;
}

.app {
  height: 100vh;
  width: 100vw;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

body {
  background: var(--lightGray);
  font-family: var(--fontFamily);
}

button,
input {
  font-family: var(--fontFamily);
}
