.header {
  padding: 1rem;
  height: 5rem;
  display: flex;
  width: 100vw;
  position: fixed;
  top: 0;
  align-items: center;
  background: var(--lightGray);
  z-index: 200;

  &--fixed {
    box-shadow: var(--box-shadow1);
  }
}

.header + main {
  margin-top: 5rem;
  padding: 1rem;
}
